* {
    margin: 0;
    padding: 0;
}

:root {
    --colorPrimario: rgb(12, 12, 12);
    --colorSecundario: rgb(44, 214, 220);
    --colorTerciario: rgb(36, 35, 35);
    --colorHover: rgb(255, 255, 255);
    --colorBordes: rgb(223, 104, 35);
    --colorTextos: rgb(249, 137, 45);
    --colorBtn: rgb(57, 56, 56);
}


form {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', sans-serif;
    flex-wrap: wrap;
}

input {
    color: var(--colorTextos);
}

textarea {
    color: var(--colorTextos);
}
textarea:focus{
    color: var(--colorSecundario);
}

label {
    margin: 10px;
    color: var(--colorTextos);
}

.contacto {
    margin: 20px;
}


/* Queries resueltas con wrap */