* {
    margin: 0;
    padding: 0;
  

}
:root {
    --colorPrimario: rgb(12, 12, 12);
    --colorSecundario: rgb(44, 214, 220);
    --colorTerciario: rgb(36, 35, 35);
    --colorHover: rgb(255, 255, 255);
    --colorBordes: rgb(223, 104, 35);
    --colorTextos: rgb(249, 137, 45);
    --colorBtn: rgb(57, 56, 56);
}

.busqueda {
    margin: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: var(--colorTextos);
    font-family:'Trebuchet MS', sans-serif;
   
 
  
}

.input {
    margin: 20px;
    padding: 5px;
    border-color: var(--colorBordes);
}

input:focus {
    border-color: var(--colorBordes);
    color: var(--colorTextos);
    outline: none;
}

.ulMovies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--colorTerciario);
}

.liMovies {
    margin: 15px;
    padding: 15px;
    background-color: var(--colorPrimario);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-width: 0.5px;
    border-style: solid;
    border-color: var(--colorSecundario);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.imgMovies {
    width: 250px;
    border-radius: 5px;

}

.pMovies {
    padding: 7px;
    color: var(--colorTextos);
}

.generoDetalles{
    color: var(--colorSecundario);
}

.sinopsisDetalles{
    color: var(--colorHover);
}

.btn {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 7px;
    margin: 2px;
    border-bottom-style: none;
    background-color: var(--colorBtn);
    border-bottom-color: var(--colorSecundario);
    border-bottom: 2px;
    cursor: pointer;
    color: var(--colorBordes);
}

.btn:hover{
    background-color: var(--colorHover);
}

/* Queries resueltas con wrap */