* {
    margin: 0;
    padding: 0;


}

:root {
    --colorPrimario: rgb(12, 12, 12);
    --colorSecundario: rgb(44, 214, 220);
    --colorTerciario: rgb(36, 35, 35);
    --colorHover: rgb(255, 255, 255);
    --colorBordes: rgb(223, 104, 35);
    --colorTextos: rgb(249, 137, 45);
    --colorBtn: rgb(57, 56, 56);
}

.busqueda {
    margin: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: var(--colorTextos);
    font-family: 'Trebuchet MS', sans-serif;
}

.input {
    margin: 20px;
    padding: 5px;
    border-color: var(--colorBordes);
}

input:focus {
    border-color: var(--colorBordes);
    color: var(--colorTextos);
    outline: none;
}

.ulMovies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--colorTerciario);
}

.liMovies {
    margin: 15px;
    padding: 15px;
    background-color: var(--colorPrimario);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-width: 0.5px;
    border-style: solid;
    border-color: var(--colorSecundario);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.imgMovies {
    width: 250px;
    border-radius: 5px;
}

.pMovies {
    padding: 5px;
    color: var(--colorTextos);
}

.movieDetalles{
    font-size: small;
}
.generoDetalles {
    color: var(--colorSecundario);
    margin: -10px;
    
}

.sinopsisDetalles {
    color: var(--colorHover);
    font-size: small;
}

.btn {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: var(--colorBtn);
    color: var(--colorBordes);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* transiciones y hover */

.movie-card-expanded {
    transform: scale(1,05);
    transition: transform 0.3s ease;
    z-index: 1;
}

.centered-movie-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn:hover {
    background-color: var(--colorHover);
    color: var(--colorTextos);
}

.movie-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, cursor 0.3s ease;
}

/* Media Query para Móviles */

@media screen and (max-width: 480px) {
    .busqueda {
        margin: 10px;
    }

    .input {
        margin: 10px;
    }

    .ulMovies {
              justify-content: flex-start;
    }

    .liMovies {
        margin: 10px;
        padding: 10px;
    }

    .imgMovies {
        width: 150px;
    }

    .pMovies {
        font-size: 14px;
    }

}

/* Media Query para Tablets */

@media screen and (min-width: 481px) and (max-width: 768px) {
    .busqueda {
        margin: 20px;
    }

    .input {
        margin: 20px;
    }

    .ulMovies {
             justify-content: center;
    }

    .liMovies {
        margin: 15px;
        padding: 15px;
    }

    .imgMovies {
        width: 200px;
     }

    .pMovies {
        font-size: 16px;
    }
}