*{
  margin: 0;
  padding: 0;
}

:root {
  --colorPrimario: rgb(12, 12, 12);
  --colorSecundario: rgb(44, 214, 220);
  --colorTerciario: rgb(36, 35, 35);
  --colorHover: rgb(255, 255, 255);
  --colorBordes: rgb(223, 104, 35);
  --colorTextos: rgb(249, 137, 45);
  --colorBtn: rgb(57, 56, 56);
}

.h3Fav{
  margin: 30px;
  font-family: 'Trebuchet MS', sans-serif;
  color: var(--colorTextos);
  display: flex;
  justify-content: center;

}
.Card{
  flex-wrap: wrap;
}


/* Media query para dispositivos móviles */

@media screen and (max-width: 480px) {

  .Card {
    padding: 10px;
  }

  .ulMovies {
    font-size: 14px;
  }

  .liMovies {
    margin: 5px 0;
    padding: 5px;
  }

  .imgMovies {
    width: 150px;
  }

  .pMovies {
     font-size: 16px;
  }

}

/* Media query para tabletas */

@media screen and (min-width: 481px) and (max-width: 768px) {
  
  .Card {
    padding: 20px;
  }

  .ulMovies {
      font-size: 18px;
  }

  .liMovies {
    margin: 10px 0;
    padding: 10px;
  }

  .imgMovies {
     width: 200px;
  }

  .pMovies {
     font-size: 20px;
  }

 }
