* {
    margin: 0;
    padding: 0;
}

:root {
    --colorPrimario: rgb(12, 12, 12);
    --colorSecundario: rgb(44, 214, 220);
    --colorTerciario: rgb(36, 35, 35);
    --colorHover: rgb(255, 255, 255);
    --colorBordes: rgb(223, 104, 35);
    --colorTextos: rgb(249, 137, 45);
    --colorBtn: rgb(57, 56, 56);
}

.Footer {
    padding: 15px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: small;
    color: var(--colorHover);
    background-color: var(--colorTerciario);
    flex-wrap: wrap;
}

p {
    padding: 15px;
}

.imgLogo {
    width: 100px;
}

/* Medias querys para mobile y tablet */

@media screen and (max-width: 768px) {

    .Footer {
        padding: 10px;
        font-size: smaller;
    }

    p {
        padding: 10px;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {

    .Footer {
        padding: 5px;
        font-size: x-small;
    }

    .imgLogo {
        width: 80px;
        margin: 4px;
    }

    p {
        padding: 5px;
        text-align: center;
    }

}