* {
    margin: 0 px;
    padding: 0 px;
}

:root {
    --colorPrimario: rgb(12, 12, 12);
    --colorSecundario: rgb(44, 214, 220);
    --colorTerciario: rgb(36, 35, 35);
    --colorHover: rgb(255, 255, 255);
    --colorBordes: rgb(223, 104, 35);
    --colorTextos: rgb(249, 137, 45);
    --colorBtn: rgb(57, 56, 56);
}

header {
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    background-image: url(../assets/marmolNegro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 60px;
    flex-wrap: wrap;
}

.imgHeader {
    width: 100px;
}

.navlink {
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

a {
    margin: 15px;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: var(--colorTextos);

}

.h1Header {
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', sans-serif;
    padding: 10px;
    margin: 5px;
    color: var(--colorBtn);
}

/* Position y hovers */

header {
    position: sticky;
    top: 0px;
}

a:hover {
    color: var(--colorHover);
}

.navlink:hover {
    color: var(--colorHover);
}


@media screen and (max-width: 768px) {

    header {
        justify-content: center;
    }

    .h1Header {
        font-size: medium;
    }

    .NavHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        text-align: center;
    }

    .nav-links.show {
        display: flex;
    }

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Cambia el color de fondo aquí */
        z-index: 1;
      }
      
      .overlay.show {
        display: block;
        pointer-events: none; 
      }
      

    /* Estilos para el icono de hamburguesa */

    .line {
        width: 25px;
        height: 3px;
        margin: 5px;
        background-color: #000;
        transition: transform 0.3s ease;
    }

    .line1 {
        transform: rotate(-45deg) translate(-5px, 5px);
    }

    .line2 {
        opacity: 0;
    }

    .line3 {
        transform: rotate(45deg) translate(-5px, -5px);
    }
}